h1{

  text-align: center;
  font-size: 80px;
}
.restInfo{
  width: 50%;

  margin: auto;
}
.pokeholder
{
  height: 30%;
}
#displayInfo{
  width: 100%;
}
body{
  color: yellow;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}
form{
  padding-bottom: 10px;
  text-align: center;
}
#pokefield{
  padding-right: 10px;
}
#monkey{
  margin-left: 20%;
  width: 55%;
}
