h1{

  text-align: center;
  font-size: 80px;
}
.restInfo{
  width: 50%;

  margin: auto;
}
.pokeholder
{
  height: 30%;
}
#displayInfo{
  width: 100%;
}

body{
  color: yellow;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}
form{
  padding-bottom: 10px;
  text-align: center;
}
ul{
  font-size: 12px;
}
#pokefield{
  padding-right: 10px;
}
#sunrise{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: black;
  background-color: yellow;
}
